.feed {
    display: grid;
    grid-template-columns: repeat(6, calc(62.4rem / 6));
    grid-template-rows: auto;
    grid-column-gap: 1.6rem;
    grid-row-gap: 3.2rem;
    grid-auto-flow: row dense;

    width: 70rem;
    margin: auto;
}
